#annualReport canvas {
    width: 100%;
    max-width: 600px; /* Set max width */
    height: 300px; /* Fixed height */
    margin: 15px auto;
    border: 2px solid #4CAF50;
    border-radius: 8px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#annualReport input[type="file"], button {
    padding: 8px;
    margin: 10px;
    border-radius: 5px;
    font-size: 1em;
}

#annualReport input[type="file"] {
    border: 1px solid #4CAF50;
}

#annualReport button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#annualReport button:hover {
    background-color: #45a049;
}

#topNGOs {
    margin-top: 10px;
    font-weight: bold;
    color: #ff5722;
}

.annualReport{
    width: 60%;
    margin: auto;
    padding-top: 20px;
}

#annualReport h2{
    margin: 0;
}