.landing_page{
    background-color: whitesmoke;
    width: 85%;
}

::-webkit-scrollbar{
    display: none;
}

section{
    width: 100%;
    height: 100vh;
}

.cards_con{
    width: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    margin: auto;
}

.card{
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px 30px;
    margin-left: 55px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    user-select: none;
}

.card1{
    background: url("https://i.pinimg.com/564x/97/4e/80/974e80dca56651ab4a620109a5f69d0f.jpg");
    color: white;
}

.card2{
    background: url("https://i.pinimg.com/474x/ec/67/04/ec670448c6713e49fb7f0d6e708611af.jpg");
    color: white;
}

.card3{
    background: url("https://i.pinimg.com/564x/a7/7c/ee/a77cee53d177e3d782ce180a66acc931.jpg");
    color: white;
}

.card4{
    background: url("https://i.pinimg.com/564x/d2/40/e5/d240e5c7383903e1f3aac551c50fcb10.jpg");
    color: white;
}

.card p, h2{
    margin: 0;
}

#map{
    width: 93%;
    height: 50vh;
    margin-left: 55px;
    margin-top: 5px;
}

.title{
    margin-left: 55px;
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
}

.chart{
    margin-left: 55px;
}

#Analysis{
    padding-top: 5px;
}

#Analysis h2{
    padding-bottom: 30px;
}

.Ana_input{
    display: flex;
    align-items: center;
    align-content: center;
}

#Deliveries{
    padding-top: 5px;
}

#charts{
    margin-left: 10px;
    width: 10%;
    padding: 4px;
}

.info_table{
    margin-left: 55px;
    width: 93%;
    height: 55vh;
    overflow-y: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    text-align: left;
}
th, td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #f2f2f2;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

td{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
}

tr:hover {background-color: lightblue;}

.notifications{
    width: 40%;
    height: 70%;
    margin-left: 55px;
    overflow-y: auto;
    border-radius: 5px;
    border: solid 1px black;
    margin-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.notifications h2{
    margin-left: 0;
    margin-top: 0;
    position: sticky;
    top: 0;
    background-color: whitesmoke;
    padding-top: 10px;
}

.notifications p{
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: lightblue;
    width: fit-content;
    padding: 5px 10px;
    border-radius: 30px;
}

.delivery_info{
    display: flex;
    height: 30%;
    width: 98%;
}

.default_info{
    display: flex;
}