<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodFix - Annual Report</title>
    <link rel="stylesheet" href="./static/css/anualReport.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<main>
    <h2>Annual Report</h2>
    <canvas id="reportChart" width="800" height="400"></canvas>
    <input type="file" id="csvFileInput" accept=".csv">
    <button id="loadDataButton">Load Data</button>
    <div id="topNGOs"></div>
</main>

<script src="./static/js/anualReport.js"></script>
</body>
</html>
