<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FoodFix | {% block title %}{% endblock title %}</title>
    {% block css %}{% endblock css %}
    <link rel="stylesheet" href="./static/css/base.css">
    <link rel="icon" href="./static/img/logo_.png">
</head>
<body>
    <nav>
        <img class="logo" src="static\img\logo.png" alt="logo">
        {% if page == "dashboard" %}
            <!--Navbar for DashboardPage-->
            <ul id="dashboard" class="pages">
                <a class="anchor" href="#Dashboard"><li class="list"><i class="fi fi-rr-dashboard-panel icon"></i> Dashboard</li></a>
                <a class="anchor" href="#Analysis"><li class="list"><i class="fi fi-rs-stats icon"></i> Analysis</li></a>
                <a class="anchor" href="#Deliveries"><li class="list"><i class="fi fi-rs-truck-side icon"></i> Deliveries</li></a>
            </ul>
        {% endif %}
        
        {% if page == "userpage" %}
            <!--Navbar for UserPage-->
            <ul id="userpage" class="pages">
                <a class="anchor" href="#Data_input"><li class="list"><i class="fi fi-rr-folder-open icon"></i> Data Input</li></a>
                <a class="anchor" href="#annualReport"><li class="list"><i class="fi fi-rr-file-medical-alt icon"></i> Anual Report</li></a>
            </ul>
        {% endif %}

    </nav>
    {% block body %}{% endblock body %}
</body>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% block script %}{% endblock script %}
</html>