{% extends "base.html" %}

{% block title %}Home{% endblock title %}

{% block css %}
<link rel="stylesheet" href="./static/css/home.css">
{% endblock css %}

{% block body %}

<main class="landing_page">
    <section class="Dashboard">
        <div class="cards_con">
            <div class="card">
                <h2>450</h2>
                <p>Total Food</p>
            </div>

            <div class="card">
                <h2>250</h2>
                <p>Expired Food</p>
            </div>

            <div class="card">
                <h2>250</h2>
                <p>Expired Food</p>
            </div>

            <div class="card">
                <h2>250</h2>
                <p>Expired Food</p>
            </div>
        </div>
    </section>

    <section class="Analysis"></section>

    <section class="Deliveries"></section>
</main>

{% endblock body %}