<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="./static/css/register.css">
    <link rel="icon" href="./static/img/logo_.png">
</head>
<body>
    <div class="wrapper">
        <h1>Register Here</h1>

        <div class="input-box">
            <h3>Enter Your Name:</h3>
            <input type="text" placeholder="Name" required>
            <i class='bx bx-user'></i>
        </div>

        <div class="input-box">
            <h3>Enter Your Email:</h3>
            <input type="email" placeholder="Email" required>
            <i class='bx bx-envelope'></i>
        </div>

        <div class="input-box">
            <h3>Enter Your Password:</h3>
            <input type="password" placeholder="Password" required>
            <i class='bx bx-lock'></i>
        </div>

        <div class="input-box">
            <h3>Contact No:</h3>
            <input type="text" placeholder="Contact No" required>
            <i class='bx bx-phone'></i>
        </div>

        <div class="register">
            <p>Already have an account? <a href="/">Login</a></p>
        </div>
    </div>
</body>
</html>
