{% extends "base.html" %}

{% block title %}Homepage{% endblock title %}

{% block css %}
<link rel="stylesheet" href="./static/css/dashboard.css">
<link rel="stylesheet" href="./static/css/userpage.css">
<link rel="stylesheet" href="./static/css/anualReport.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
{% endblock css %}

{% block body %}
    <main class="landing_page">
        <section class="Data_input" id="Data_input">
            <h2 class="title">Input Types</h2>
            <div class="cards_con">
                <div class="card" id="csv_btn" onclick="con_control('csv_btn')">
                    <i class="fi fi-rr-file-csv ico"></i>
                    <h4>CSV File</h4>
                    <p>Provide a csv file containing data of daily mart items</p>
                </div>
                <div class="card" id="bar_btn">
                    <i class="fi fi-rr-barcode-read ico"></i>
                    <h4>Barcode Scanner</h4>
                    <p>Scan the barcode of the items to store the data</p>
                </div>
                <div class="card" id="voc_btn" onclick="con_control('voc_btn')">
                    <i class="fi fi-rr-microphone ico"></i>
                    <h4>Voice Input</h4>
                    <p>Store the data using voice recordning</p>
                </div>
                <div class="card" id="cam_btn">
                    <i class="fi fi-rr-aperture ico"></i>
                    <p class="under_dev">Under Development</p>
                    <h4>Camera Input</h4>
                    <p>Input of data using camera input in refrigerator</p>
                </div>
            </div>

            <div class="input_con csv_con">
                <form action="">
                    <label class="title" for="csvFile">Share CSV File</label>
                    <br>
                    <input id="csvFile" type="file">
                    <br>
                    <button class="vid_btn" type="submit">Share</button>
                </form>
            </div>

            <div class="input_con barcode_con"></div>

            <div class="input_con voice_con">
                <h2 class="title">Voice Input</h2>
                <textarea name="voiceIn" id="voiceIn"></textarea>
                <i id="record_btn" class="fi fi-rr-microphone record_btn"></i>
                <p class="state"></p>
            </div>
        </section>

        <section class="annualReport" id="annualReport">
            <h2 class="title">Annual Report</h2>
            <canvas id="reportChart" width="800" height="400"></canvas>
            <input type="file" id="csvFileInput" accept=".csv">
            <button id="loadDataButton">Load Data</button>
            <div id="topNGOs"></div>
        </section>
</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="./static/js/anualReport.js"></script>
<script>
    let isDisabled = false;

    const bar_btn = document.getElementById("bar_btn")
    bar_btn.addEventListener('click', shwbar_block);

    function shwbar_block() {
        if (isDisabled) return;
        $.ajax({
            url: "{{ url_for('get_video_url') }}",  
            type: "GET",
            success: function(videoUrl) {
                const img = document.createElement('img');
                const form = document.createElement('form');
                const btn = document.createElement('button');
                form.action = "{{ url_for('stop_camera') }}";
                form.method = "POST";
                btn.type = "submit";
                btn.textContent = "Stop Camera";
                btn.className = "vid_btn";
                img.src = videoUrl;  
                img.alt = "Video Stream";
                img.className = "video_in";
                document.querySelector('.barcode_con').appendChild(img);
                form.appendChild(btn);
                document.querySelector('.barcode_con').appendChild(form);
            },
            error: function(xhr, status, error) {
                console.error("Error fetching video URL:", error);
            }
        });
        isDisabled = true;  
    }

    const csv_btn = document.getElementById("csv_btn")
    const voc_btn = document.getElementById("voc_btn")
    const cam_btn = document.getElementById("cam_btn")

    //Voice Input Code:
    const recordButton = document.getElementById('record_btn');
    const resultDiv = document.getElementById('voiceIn');
    const state = document.querySelector('.state');
    const recognition = new webkitSpeechRecognition();

    recognition.continuous = false;
    recognition.interimResults = false;
    recognition.lang = 'en-US';

    // Start recording when the button is clicked
    recordButton.onclick = () => {
        recognition.start();
        recordButton.disabled = true;
        state.innerHTML = 'Listening...';
    };

    // Handle the result of speech recognition
    recognition.onresult = (event) => {
        const transcript = event.results[0][0].transcript;
        resultDiv.innerHTML = `${transcript}`;
        recordButton.disabled = false;
        state.innerHTML = "Data input successfull";
    };

    // Handle errors
    recognition.onerror = (event) => {
        console.error('Speech recognition error detected:', event.error);
        resultDiv.innerHTML = 'Error occurred in recognition: ' + event.error;
        recordButton.disabled = false;
    };

    // Handle end of speech recognition
    recognition.onend = () => {
        recordButton.disabled = false;
        state.innerHTML += ' Recording stopped.';
    };

    //Container on and of:
    function con_control(con_id){
        if (con_id === "voc_btn"){
            console.log(`1st: ${con_id}`)
            let voice_con = document.querySelector(".voice_con");
            let barcode_con = document.querySelector(".barcode_con");
            let csv_con = document.querySelector(".csv_con");

            if(voice_con.style.display == "" || voice_con.style.display == "none"){
                voice_con.style.display = "block";
                barcode_con.style.display = "none";
                csv_con.style.display = "none";
            }
            else if (voice_con.style.display == "block"){
                voice_con.style.display = "none";
            }
        }

        else if(con_id === "csv_btn"){
            console.log(`2nd: ${con_id}`)
            let csv_con = document.querySelector(".csv_con");
            let voice_con = document.querySelector(".voice_con");
            let barcode_con = document.querySelector(".barcode_con");

            if(csv_con.style.display == "" || csv_con.style.display == "none"){
                csv_con.style.display = "block";
                voice_con.style.display = "none";
                barcode_con.style.display = "none";
            }
            else if (csv_con.style.display == "block"){
                csv_con.style.display = "none";
            }
        }
    }
    </script>
{% endblock body %}
